{% extends 'base.html.twig' %}

{% block title %}Hello TWorkerController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    {% for worker in workers %}
        <h2>  {{ worker.getSex()}} {{ worker.getAge() }} {{ worker.getSalario()}}</h2>
    {% endfor %}
    <h1> Salarios </h1>
    {% for worker in salario %}
        <h2>  {{ worker.getSex()}} {{ worker.getAge() }} {{ worker.getSalario()}}</h2>
    {% endfor %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/br14n/PhpstormProjects/EMRPOMEDWEB/empromedweb/src/Controller/TWorkerController.php'|file_link(0) }}">src/Controller/TWorkerController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/br14n/PhpstormProjects/EMRPOMEDWEB/empromedweb/templates/t_worker/index.html.twig'|file_link(0) }}">templates/t_worker/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
