<!DOCTYPE html>
<html lang="en">
{% include 'base.head.dashboard.html.twig' %}

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    {% include 'base.sliderbar.dashboard.twig' %}


    <!-- Content Start -->
    <div class="content">
        {% include 'base.start.content.html.twig' %}
        {% include 'funslider.html.twig' %}


        {% if is_granted('ROLE_ADMIN') %}
        <!-- Insert Worker-->
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Insertar Trabajador</h6>
                <div class="input-group mb-3">
                    <form class="input-group mb-3" style="display: flex" action="{{ path('app_saveworker') }}" method="post" name="production-form">
                        <input type="text" class="form-control" placeholder="CI" aria-label="CI" name="id-worker">
                        <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" name="nam">
                        <input type="text" class="form-control" placeholder="Edad" aria-label="Edad" name="age">
                        <input type="text" class="form-control" placeholder="Sexo" aria-label="Sexo" name="sex">
                        <input type="text" class="form-control" placeholder="Posición" aria-label="Posicion" name="position">
                        <input type="text" class="form-control" placeholder="A. de experiencia" aria-label="AnosExp" name="age-exp" required>
                        <input type="text" class="form-control" placeholder="ID Lab" aria-label="IDLaboratory" name="id-lab" required>
                        <input type="text" class="form-control" placeholder="Salario" aria-label="Salario" name="salary" required>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>

                </div>
            </div>
        </div>
        <!-- End Insert Worker-->


        <!-- Delete Worker -->
        <div class="bg-light col-sm-12 col-xl-12">
            <div class="col-sm-4 col-xl-4">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Eliminar Trabajador</h6>
                    <div class="input-group mb-6">
                        <form class="input-group mb-3" style="display: flex" action="{{ path('app_saveworker')}}" method="post" name="production-form">
                            <input type="text" class="form-control" placeholder="CI" aria-label="CI" name="id-worker" required>
                            <button type="submit" class="btn btn-danger btn-primary">Eliminar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Delete Worker-->
        {% endif %}


        <!--Table Start -->
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Tabla de Trabajadores</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">CI</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Posición</th>
                            <th scope="col">Años de experiencia</th>
                            <th scope="col">ID Laboratorio</th>
                            <th scope="col">Salario</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for worker in workers %}
                            <tr>
                                <th scope="row">{{ worker.getId()}}</th>
                                <td>{{ worker.getName()}}</td>
                                <td>{{ worker.getAge()}}</td>
                                <td>{{ worker.getSex()}}</td>
                                <td>{{ worker.getPosition()}}</td>
                                <td style="text-align: center">{{ worker.getYearExperiences()}}</td>
                                <td style="text-align: center">{{ worker.getLWID.getID()}}</td>
                                <td>{{ worker.getSalario()}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Table End -->


        {% include 'base.footer.html.twig' %}
    </div>
    <!-- Content End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
{% include'base.library.js.html.twig'%}
</body>

</html>