
<!DOCTYPE html>
<html lang="en">
{% include 'base.head.dashboard.html.twig' %}

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    {% include 'base.sliderbar.dashboard.twig' %}


    <!-- Content Start -->
    <div class="content">
        {% include 'base.start.content.html.twig' %}
        {% include 'funslider.html.twig' %}


        <!--Insert  Porduct -->
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Insertar Componente</h6>
                <div class="input-group mb-3">
                    <form class="input-group mb-3" style="display: flex" action="{{path('app_savechemical')}}" method="post" name="production-form">
                        <input type="text" class="form-control" placeholder="Nombre" aria-label="nombreC" name="nam">
                        <input type="text" class="form-control" placeholder="PH" aria-label="PH" name="ph">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>

                </div>
            </div>
        </div>
        <!--End Insert Porduct -->

        <!-- Delete Product -->
        <div class="bg-light col-sm-12 col-xl-12">
            <div class="col-sm-4 col-xl-4">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Eliminar Componente</h6>
                    <div class="input-group mb-6">
                        <form class="input-group mb-3" style="display: flex" action="{{path('app_savechemical')}}" method="post" name="production-form">
                            <input type="text" class="form-control" placeholder="ID Componente" aria-label="IDComponent" name="id-component" required>
                            <button type="submit" class="btn btn-danger btn-primary">Eliminar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!--End Delete Product -->

        <!--Table Start -->
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Tabla de Comp</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID Comp</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">PH</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for component in chemicalC %}
                            <tr>
                                <th scope="row">{{ component.getId()}}</th>
                                <td>{{ component.getName()}}</td>
                                <td>{{ component.getPh()}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Table End -->





        {% include 'base.footer.html.twig' %}
    </div>
    <!-- Content End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

{% include'base.library.js.html.twig'%}
</body>

</html>
