<!DOCTYPE html>
<html lang="en">
{% include 'base.head.dashboard.html.twig' %}

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    {% include 'base.sliderbar.dashboard.twig' %}


    <!-- Content Start -->
    <div class="content">
        {% include 'base.start.content.html.twig' %}
        {% include 'funslider.html.twig' %}

        {% if is_granted('ROLE_ADVANCE_USER')%}
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Insertar Producción</h6>
                <div class="input-group mb-3">
                    <form class="input-group mb-3" style="display: flex" action="{{ path('app_saveproduction') }}" method="post" name="production-form">
                        <input type="text" class="form-control" placeholder="Fecha de Produccion" aria-label="ProdDate" name="fecha">
                        <input type="text" class="form-control" placeholder="Cantidad" aria-label="Cant" name="cantidad">
                        <input type="text" class="form-control" placeholder="ID Trabajador" aria-label="IDWorker" name="id-worker">
                        <input type="text" class="form-control" placeholder="ID Producto" aria-label="IDProduct" name="id-producto" required>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>

                </div>
            </div>
        </div>
        {% endif %}

        <!--Table Start -->
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Tabla de Producción</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID Prod</th>
                            <th scope="col">Fecha de Producción</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">ID Trabajador</th>
                            <th scope="col">ID Producto</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for production in productions %}
                            <tr>
                                <th scope="row">{{ production.getId()}}</th>
                                <td>{{ production.getProductionDate().format('Y-m-d')}}</td>
                                <td>{{ production.getCant()}}</td>
                                <td>{{ production.getIDW().getId()}}</td>
                                <td>{{ production.getIDP().getId()}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Table End -->








    {% include 'base.footer.html.twig' %}
    </div>
    <!-- Content End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

{% include'base.library.js.html.twig'%}
</body>

</html>
